<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <import resource="test/spring_test.xml" /> -->
	<import resource="spring/GraduationProjectManagement.xml" />
	<import resource="spring/StudentInformationManagement.xml" />
	<import resource="spring/TeacherInformationManagement.xml" />
	<import resource="spring/SectionInformationManagement.xml" />
	<import resource="spring/LoginOrWriteOff.xml" />
	<import resource="spring/TopicInformationManagement.xml" />
	<import resource="spring/ProcessManagement.xml" />
	<import resource="spring/NoticeManagement.xml" />
	<import resource="spring/CollegeManagement.xml" />
	<import resource="spring/MajorManagement.xml" />
</beans>